.profile{
    width: 90%;
    height: max-content;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.name{
    margin-top: 4rem;
    
}
.name,.type,.email{
    margin-bottom: 2rem;
    padding: 0.5rem;
}
label{
    margin: 0.5rem;
    cursor: pointer;
}
.edit{
    background-color:transparent ;
    border-radius: 0.5rem;
   border: none;
    font-weight:500 ;
    padding: 0rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.con{
    background-color:transparent;
    display: flex;
    flex-direction: column;
    width: 26rem;
    height:fit-content;
   
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 0px;
    border-radius: 19px;
    
    box-shadow:  5px 5px 10px #5a5a5a,
                 -5px -5px 10px #212527;
   
}

.butt {
    margin-left: 1rem;
    margin-top: 5rem;
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
   }
   
   .shadow2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
       to left,
       hsl(340deg 100% 16%) 0%,
       hsl(340deg 100% 32%) 8%,
       hsl(340deg 100% 32%) 92%,
       hsl(340deg 100% 16%) 100%
     );
   }
   
   .front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .butt:hover {
    filter: brightness(110%);
   }
   
   .butt:hover .front {
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   .butt:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
   }
   
   .butt:hover .shadow {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   .butt:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
   }
   
   .butt:focus:not(:focus-visible) {
    outline: none;
   }
   .hide{
  display: none;

   }
   .update{
    display: flex;
    align-items: center;
   }
   .post-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image:url("https://i.postimg.cc/sXmyqkC3/9.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    overflow: scroll;
    
   
  
   }